.App {
  height: 100%;
  width: 100%;
  display: inline-block;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
}
.header {
  height: 5rem;
  display: flex;
  flex-direction: row;
  color: white;
}
.title {
  display: flex;
}
.challenge-title {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  vertical-align: text-bottom;
}
.title-presented {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.7rem;
  opacity: .7;
  text-align: 
}
#countdown {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 2rem;
}
.logo {
  margin-top: 0.5rem;
  position: relative;
  height: 3rem;
  top: 0px;
  left: 0px;
}
@media (min-width: 50rem) {
  .app {
    display: flex;
  }
  .header {
    display: flex;
  }
  .title {
    flex: 1;
  }
  .challenge-title {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 3rem;
    margin-left: 2rem;
    margin-right: 1rem;
    vertical-align: text-bottom;
  }
  .title-presented {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    opacity: .7;
  }
  #countdown {
    font-size: 1.5rem;
  }
  .logo {
    height: 4rem;
  }
}