.column {
  flex: 1;
  margin: 0rem 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, .5);
  padding: 1rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: left;
  height: 80%;
}
.column::-webkit-scrollbar { 
    display: none; 
}
.slider {
  transition-property: margin-top;
  transition-duration: 1s;  
}
.user {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: .5rem .75rem;
  margin-top: .5rem;
  height: 1.25rem;
}
.user:first-child {
  margin-top: 0;
}
.name {
  flex: 1;
}
.container, .column-title {
  text-align: center;
  flex: 1;
}
.column-title {
  color: white;
  font-size: 1.2rem;
}
.column-header {
  margin-bottom: 0;
}
.progress {
  color: purple;
}