.buttress {
  background-color: #48cbd3;
  position: relative;
  width: 25%;
  top: 0px;
  left: 0px;
  border-top: 10px solid #222222;
  border-right: 10px solid #222222;
  border-bottom: 10px solid #222222;
  border-left: 10px solid #222222;
}
.buttress td:nth-of-type(1) {
  background: white;
  border-bottom: 2px solid #48cbd3;
  opacity: 0.7;
  text-align: left;
}
.buttress td:nth-of-type(2) {
  background: white;
  border-bottom: 2px solid #48cbd3;
  opacity: 0.7;
}
.dolt {
  background-color: #8357aa;
  position: relative;
  width: 25%;
  top: 0px;
  left: 0px;
  border-top: 10px solid #222222;
  border-right: 10px solid #222222;
  border-bottom: 10px solid #222222;
  border-left: 10px solid #222222;
}
.dolt td:nth-of-type(1) {
  background: white;
  border-bottom: 2px solid #8357aa;
  opacity: 0.7;
  text-align: left;
}
.dolt td:nth-of-type(2) {
  background: white;
  border-bottom: 2px solid #8357aa;
  opacity: 0.7;
}
.roof {
  background-color: #b2da4e;
  position: relative;
  width: 25%;
  top: 0px;
  left: 0px;
  border-top: 10px solid #222222;
  border-right: 10px solid #222222;
  border-bottom: 10px solid #222222;
  border-left: 10px solid #222222;
}
.roof td:nth-of-type(1) {
  background: white;
  border-bottom: 2px solid #b2da4e;
  opacity: 0.7;
  text-align: left;
}
.roof td:nth-of-type(2) {
  background: white;
  border-bottom: 2px solid #b2da4e;
  opacity: 0.7;
}
.nose {
  background-color: #f0ad42;
  position: relative;
  width: 25%;
  top: 0px;
  left: 0px;
  border-top: 10px solid #222222;
  border-right: 10px solid #222222;
  border-bottom: 10px solid #222222;
  border-left: 10px solid #222222;
}
.nose td:nth-of-type(1) {
  background: white;
  border-bottom: 2px solid #f0ad42;
  opacity: 0.7;
  text-align: left;
}
.nose td:nth-of-type(2) {
  background: white;
  border-bottom: 2px solid #f0ad42;
  opacity: 0.7;
}
.buttress th {
  padding: 0px 0px 0px 30px;
}
.dolt th {
  padding: 0px 0px 0px 30px;
}
.roof th {
  padding: 0px 0px 0px 30px;
}
.nose th {
  padding: 0px 0px 0px 30px;
}
.col-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  color: white;
}
.username {
  font-size: 1.5rem;
  text-align: center;
  padding: 0px 15px 0px 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
@keyframes column-scroll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
.leaderboard td, .leaderboard th, .leaderboard tbody, .leaderboard thead, .leaderboard tr {
    border: none;
    border-bottom: none;
    background-color: white;
}
.table thead th {
  border-bottom: none;
  column-gap: 100px;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

table td {
  color: black;
  border-left: 20px solid #222222;
  padding: 0 15px 0 15px;
}
table td:first-child {
  border-left: none;
}
.leaderboard th:nth-of-type(1) {
  background: #48cbd3;
}
.leaderboard td:nth-of-type(1) {
  background: #48cbd3;
  border-bottom: 1px solid #48cbd3;
  opacity: 0.7;
}
table td:nth-of-type(2) {
  background: #48cbd3;
  border-bottom: 1px solid #48cbd3;
  opacity: 0.7;
}

table th:nth-of-type(2) {
  background: #8357aa;

}
table td:nth-of-type(3) {
  background: #8357aa;
  border-bottom: 1px solid #8357aa;
  opacity: 0.7;
}
table td:nth-of-type(4) {
  background: #8357aa;
  border-bottom: 1px solid #8357aa;
  opacity: 0.7;
}
table th:nth-of-type(3) {
  background: #b2da4e;
}
table td:nth-of-type(5) {
  background: #b2da4e;
  border-bottom: 1px solid #b2da4e;
  opacity: 0.7;
}
table td:nth-of-type(6) {
  background: #b2da4e;
  border-bottom: 1px solid #b2da4e;
  opacity: 0.7;
}
table th:nth-of-type(4) {
  background: #f0ad42;
}
table td:nth-of-type(7) {
  background: #f0ad42;
  border-bottom: 1px solid #f0ad42;
  opacity: 0.7;
}
table td:nth-of-type(8) {
  background: #f0ad42;
  border-bottom: 1px solid #f0ad42;
  opacity: 0.7;
}
th {
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}
table td {
  padding: 0 15px 0 15px;
  border-right: 20px solid #222222;
}
.username {
  font-size: 1.5rem;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: top right bottom left;
  padding: 20px;
  
}
.a {
  font-weight: bolder;
}
h1 {
  display: inline;
  float: left;
  color: white;
}
h2 {
  display: inline;
  color: white;
}
h3 {
  display: inline;
  float: right;
}
.rowName {
  display: inline;
  float: left;
  margin: 0;
  position: relative;
}
.rowInfo {
  display: inline;
  float: right;
  margin: 0;
  position: relative;
}
.table-borderless td,
.table-borderless th {
    border: 0;
}
tbody {
  border: none;
}
.table-con {
  background-color: grey;
  display: inline;
}
.bootie1 {
  float: left;
  width: 20%;
}
.bootie2 {
  float: right;
  width: 20%;
}
*/