.leaderboard {
  display: block;
  flex: 1;
  padding-left: 2rem;
  padding-right: 0rem;
  height: 100%;
}
@media (min-width: 50rem) {
  .leaderboard {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}